.post-card {
    display: flexbox;
    width: 200px;
    height: 200px;
}

#profile-image {
    width: 100px;
    height: 100px;
    
}

#edit-profile {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}